<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="expo.modules.gemforegroundservice">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />

    <application>
        <service
            android:name=".BuildKeepAliveService"
            android:foregroundServiceType="dataSync"
            android:exported="false" />
    </application>
</manifest>
